.loader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.spinner {
    stroke: #263238;
    width: 65px;
    height: 65px;
    /*-webkit-animation: rotation 1.35s linear infinite;*/
    animation: rotation 1.35s linear infinite;
}

@keyframes rotation {
    0% {
        /*-webkit-transform: rotate(0deg);*/
        transform: rotate(0deg);
    }

    100% {
        /*-webkit-transform: rotate(270deg);*/
        transform: rotate(270deg);
    }
}

.circle {
    fill: none;
    stroke-dasharray: 180;
    stroke-dashoffset: 0;
    /*-webkit-transform-origin: center;*/
    /*-ms-transform-origin: center;*/
    transform-origin: center;
    /*-webkit-animation: turn 1.35s ease-in-out infinite;*/
    animation: turn 1.35s ease-in-out infinite;
}


@keyframes turn {
    0% {
        stroke-dashoffset: 180;
    }

    50% {
        stroke-dashoffset: 45;
        /*-webkit-transform: rotate(135deg);*/
        transform: rotate(135deg);
    }

    100% {
        stroke-dashoffset: 180;
        /*-webkit-transform: rotate(450deg);*/
        transform: rotate(450deg);
    }
}
