.amiiboItem {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.img {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.img img {
    display: block;
    max-height: 100%;
    max-width: 100%;
}

.content {
    padding: 20px;
    color: #a6a6a6;
    flex: auto;
    display: flex;
    flex-direction: column;
}

.name {
    padding: 0 0 16px 0;
}

.amiiboSeries {
    font-weight: 500;
    padding: 0 0 8px 0;
}

.gameSeries {
    font-weight: 500;
    padding: 0 0 8px 0;
}

.character {
    color: black;
    font-size: 24px;
    font-weight: 700;
    padding: 0 0 8px 0;
}

.type {
    padding: 0 0 12px 0;
}

.tail {
    font-size: 14px;
}

.controls {
    padding: 16px 0 0 0;
    align-self: flex-end;
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
